@page "/add"
@using Frontend.Components

@if (_viewModel != null && _viewModel.Initialized)
{
    <PageTitle>@_viewModel.PageTitle</PageTitle>
    <h3>Add Employee</h3>

    <!-- Notification Area -->
    <Notification @bind-Message="_viewModel.ErrorMessage" AlertType="danger" />

    <!-- Employee Form -->
    <EditForm EditContext="_editContext" OnValidSubmit="_viewModel.HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label>Name</label>
            <ImmediateInputText class="form-control" @bind-Value="_viewModel.employee.Name" />
            <ValidationMessage For="@(() => _viewModel.employee.Name)" />
        </div>
        <div class="mb-3">
            <label>Position</label>
            <ImmediateInputText class="form-control" @bind-Value="_viewModel.employee.Position" />
            <ValidationMessage For="@(() => _viewModel.employee.Position)" />
        </div>
        <div class="mb-3">
            <label>Department</label>
            <ImmediateInputText class="form-control" @bind-Value="_viewModel.employee.Department" />
            <ValidationMessage For="@(() => _viewModel.employee.Department)" />
        </div>
        <div class="mb-3">
            <label>Salary</label>
            <ImmediateInputNumber class="form-control" @bind-Value="_viewModel.employee.Salary" />
            <ValidationMessage For="@(() => _viewModel.employee.Salary)" />
        </div>
        <button class="btn btn-primary" type="submit" disabled="@(!_isFormValid)">Add Employee</button>
        <button class="btn btn-secondary ms-2" type="button" @onclick="_viewModel.GoBack">Go Back</button>
        <button class="btn btn-warning ms-2" type="button" @onclick="ResetForm">Reset</button>
    </EditForm>
}
else
{
    <!-- Loading Indicator -->
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}

@code {
    AddEmployeeViewModel? _viewModel;
    EditContext? _editContext;
    bool _isFormValid = false;
    bool _needsValidation = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _viewModel = new AddEmployeeViewModel(this, client, navigationManager, JSRuntime);
            _editContext = new EditContext(_viewModel.employee);
            _editContext.OnFieldChanged += (_, __) => ValidateForm();
            _needsValidation = true;
            StateHasChanged();
        }
        else if (_needsValidation)
        {
            _needsValidation = false;
            ValidateForm();
        }
    }

    private void ValidateForm()
    {
        if (_editContext != null)
            _isFormValid = _editContext.Validate();
        StateHasChanged();
    }

    private void ResetForm()
    {
        _viewModel?.ResetForm();
        _editContext?.Validate();
        StateHasChanged();
    }

}